h1{

  font-family: "Open Sans", bold, sans-serif;
}

.all_my_headers{
  text-decoration: underline;
}

.navsize{
  font-size: xx-large
}

.navbox {
    border: 4px solid black;
    margin: 25px;
}

p{
  font-family: "Courier New", Courier, monospace;
}

.page-title{
  text-align: center;
}

.page-title2{
  text-align: left;
}

.page-image{
  text-align: center;
}
