h1{

 font-family: "Open Sans", , sans-serif;
 padding-left: 5px;
 padding-top: 30px;
}

.mainhead{
 background-image: url("../images/background.png");
 background-color: #005DAA;
 background-repeat: no-repeat;
 min-height: 50px;
 background-size: contain, cover;
}

.all_my_headers{
 text-decoration: underline;
}

.social{
 padding-top:15px;
}

.logo-block{
 text-align: right;
}

p{
 font-family: "Open Sans", , sans-serif;
}

.htextbox{
 background-color: #F8F9FA;

}

.hometext{
 padding-left: 70px;
 width: 400px;
}

.pagetitle{
 text-align: left;
}

.image1{
padding-left: 150px;
}

.aboutus{
 padding-left: 20px;
 font-weight: bold;
 font-size: 25px;
 padding-top:10px;
}

.page-title{
 text-align: center;
}

.page-title2{
 text-align: left;
}

.page-image{
 text-align: center;
}

.text-color{
 text-color: black;
}

.blogheader{
 font-size: 25px;
}

.blogperson{
 font-size: 18px;
}

.container-fluid{
 padding-left:120px;
}

.blogtext{
 background-color:#F8F9FA;
}

.blogspace{
 padding-left: 20px;
 padding-right: 20px;
}

.special{
 padding-top: 20px;
}

.blogpadding{
 padding-bottom: 50px;
}

.blogbutton{
 background-color: #0057AF;
 font size: 10px;
 color: white;
 padding: 10px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 margin: 4px 2px;
 cursor: pointer;
 float: right;
}

.groupimages{
 float: left;
}

.grouptextbox{
 background-color: #F8F9FA;
 height: 150px;
 padding-top: 10px;
}

.grouptext{
 margin-left: 160px;
}

.stemgroups{
 padding-top: 20px;
}
.stembutton{
 background-color: #0057AF;
 font size: 10px;
 color: white;
 padding: 4px 25px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 margin-right: 10px;;
 cursor: pointer;
 float: right;
}

.stempadding{
 padding-bottom: 50px;
}

.container-fluid{
 padding-right: 120px;
}
