h1{

 font-family: "Open Sans", , sans-serif;
 padding-left: 5px;
 padding-top: 30px;
}

.mainhead{
 background-image: url("../images/background.png");
 background-color: #005DAA;
 background-repeat: no-repeat;
 min-height: 50px;
 background-size: contain, cover;
}

.all_my_headers{
 text-decoration: underline;
}

.social{
 padding-top:15px;
}

.logo-block{
 text-align: right;
}

p{
 font-family: "Open Sans", , sans-serif;
}

.htextbox{
 background-color: #F8F9FA;

}

.hometext{
 padding-left: 70px;
 width: 400px;
}

.pagetitle{
 text-align: left;
}

.image1{
padding-left: 150px;
}

.aboutus{
 padding-left: 20px;
 font-weight: bold;
 font-size: 25px;
 padding-top:10px;
}

.page-title{
 text-align: center;
}

.page-title2{
 text-align: left;
}

.page-image{
 text-align: center;
}

.text-color{
 text-color: black;
}
